[Unit]
Description=Edi
After=network.target

[Service]
User=edi
Restart=always
EnvironmentFile=-/etc/default/edi
WorkingDirectory=/home/edi/bot
ExecStart=/usr/local/bin/edi